<!DOCTYPE html>
<html>
    <head>
        <title>user</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <h1>E-Ticket Status</h1><br>
        <h2>fname : {{var}}</h2>><br>
        <h2>email : {{var1}}</h2><br>
        <h2>Source :{{var2}}</h2><br>
        <h2>Destination :{{var3}},Destination-District:{{var4}}</h2><br>
        <h2>Contact No: {{var5}}</h2><br>
        <h2>status :{{var6}}</h2><br>
        <!--<table border=1>
            {% for key, value in login_registration_details.items() %}
        
            <tr>
               <th> {{ key }} </th>
               <td> {{ value }} </td>
            </tr>
        
            {% endfor %}
        </table>-->
    </body>

</html>