<!DOCTYPE html>
<html>
    <head>
        <title>Epass</title>
        <meta charset="utf-8">
    </head>
    <body>
        <div>
            <form action="/login_page" method="POST">
                <label>User Name : </label>
                <input type="text" placeholder="User name" name="username"><br>
                <!--<label for="lname">Last Name : </label>
                <input type="text" placeholder="Enter your last name" name="lname" id="lname"><br>-->
                <label>Email ID: </label>
                <input type="text" placeholder="Enter your email" name="email_id"><br>

                <label>Aadhar ID : </label>
                <input type="text" placeholder="Enter your Source " name="aadhar_card"><br>

                <label>Source Destination : </label>
                <input type="text" placeholder="Enter your source" name="Travelling_from"><br>

                <label>Target Destination : </label>
                <input type="text" placeholder="Enter your Destination" name="Destination"><br>

                <label>District : </label>
                <input type="text" placeholder="Enter your District" name="District"><br>

                <label>Contac NO : </label>
                <input type="number" placeholder="Enter your contact no" name="PhoneNumber"><br>

                <label>Travel date : </label>
                <input type="text" placeholder="Enter your Destination state" name="travel_date"><br>


                <input type="submit" value="Login">
            </form>
        </div>
    </body>
</html>